<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lisää ilmoitus</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<header><h1>Ilmoituksen tiedot</h1></header>
<div class="container">
	<form th:object="${message}" th:action="@{save}" action="#" method="post">
	<div class="row">
		<div class="col-3">
			<label for="title">Otsikko</label>
			<input type="text" id="title" th:field="*{title}" />
		</div>
		<div class="col-3">
		  	<label for="text">Teksti</label>
			<input type="text" id="text" th:field="*{text}" />
		</div>
		<div class="col-3">
			<label for="categorylist">Kategoria</label>
			<select id="categorylist" th:field="*{category}">
				<option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.name}"></option>
			</select>
		</div>
	</div>
		<input class="btn btn-primary" type="submit" value="Lisää ilmoitus"/>
	</form>
	</div>
</body>
</html>